#line {
    border-bottom: 5px solid black;
    display: block;
}

#yellow {
    background-color: yellow;
    font-weight: bold;
}

#navigation {
    text-align: center;
    font-size: 18px;
    margin-bottom: 80px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

nav a:hover{
    font-weight: 600;
    background-color: yellow;
}


.gallery {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
} 

#product-image {
    display: flex;
    justify-content: center;
}

.gallery img {
    border: 3px solid black;
}

p.title {
    font-size: 30px;
    margin-bottom: 70px;
}

#description{
    padding: 5px 80px; 
    display: block;
}

p.text{
    text-align: center;
    font-size: 25px;
}

p.header {
    text-align: left;
    font-size: 25px;
}

.options {
    padding: 20px 80px;
    display: block;
    text-align: left;
    margin-bottom: 30px;
}

.dropdown {
    position: relative;
  }
  
  #button1 {
    border: 3px solid black;
    padding:15px 110px 15px 10px;
    font-size:19px;
    cursor:pointer;
  }

  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:white;

  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    padding:15px 110px 15px 10px;
  }
  
  .dropdown-options a:hover {
    color: black;
    background-color: #ddd;
  }

  #button1::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
	  border-top: 15px solid black;
	  border-right: 15px solid transparent;
    position: absolute;
    margin-top: 3px;
    margin-left: 70px;
}

  #button2 {
    border: 3px solid black;
    padding:15px 210px 15px 10px;
    font-size:19px;
    cursor:pointer;
  }

  .dropdown-options2 {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:white;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options2 {
    display: block;
  }
  
  .dropdown-options2 a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
    padding:15px 210px 15px 10px;
  }
  
  .dropdown-options2 a:hover {
    color: black;
    background-color: #ddd;
  }

#button2::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
	  border-top: 15px solid black;
	  border-right: 15px solid transparent;
    position: absolute;
    margin-top: 3px;
    margin-left: 170px;
}

#price p {
    font-weight: bold;
    font-size: 25px;
}

#cart p {
    font-weight: bold;
    font-size: 25px;
    border: 3px solid black;
    width: 150px;
    padding: 3px;
    text-align: center;
    background-color: yellow;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


